*
*:before
*:after
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

html
body
h1, h2, h3, h4, h5, h6
ul
  margin 0
  padding 0

a
  color inherit
  text-decoration none

ul
  list-style-type none

body
  background #1ABC9C
  font-family 'Roboto', sans-serif

#react-root
  width 400px
  height 600px
  margin 20px auto

.section
  padding 0 20px
  width 100%

.header
.footer
  background #232323
  padding 20px
  float left

.header__info
  float right
  width 220px
  color #aaa

.CircularProgress-Bg
.CircularProgress-Fg
  fill: none

.CircularProgress-Bg
  stroke: #555555


.CircularProgress-Fg
  transition: stroke-dashoffset .5s ease-in-out
  stroke: #76AD42

.CircularProgress-Text
  font-family: sans-serif
  font-size: 25px
  fill: #76AD42
  transform: translate(0 50%)

.main
  background #343434
  float left
  padding-bottom 10px

.item
  width 100%
  float left
  margin 10px 0

.item__action
  float left
  width 40px

  label
    width 30px
    float left
    cursor pointer

    &.done
      &:before
        position absolute
        content url('../img/icons/done.svg')

    &.edit
      &:before
        position absolute
        content url('../img/icons/edit.svg')

    &.delete
      &:before
        position absolute
        content url('../img/icons/delete.svg')

    input[type="checkbox"]
      opacity 0
      height 30px
      cursor pointer

.item__completed
  .item__action
    .edit
    .delete
      opacity .1

.item__content
  background #424242
  float left
  width 320px
  min-height 105px
  padding 5px 10px

  h1
    font-size 20px
    color #ddd
    margin-bottom 8px
  p
    font-size 15px
    margin 0
    color #aaa

.filters
  li
    float left
    width 33.33%
    text-align center
    color #ddd

    span
      cursor pointer
      padding 5px 7px

      &.active
      &:hover
        color #76AD42
        border 1px solid #76AD42
